[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
Flask-Cors = "*"
sphinx = "*"

[dev-packages]
pytest-cov = "*"
pytest = "*"
pylint = "*"

[requires]
python_version = "3.10"
